<div th:fragment="header">

    <header style="color: pink">

        <a id="logo" href="/">
            <img src="img/icon.png" alt="Logo">
            <span style="font-family: Georgia, 'Times New Roman', Times, serif;">FLORAL</span>
        </a>

        <nav class="navcore">
            <ul>
                <li><a href="/catalogue">Catalogue</a></li>
                <li><a href="/price">Pricing</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Sign Up</a></li>
            </ul>
        </nav>

    </header>

</div>
